# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text file handling
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.md text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
_redirects text eol=lf

# Binary file handling
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text eol=lf
